{% extends 'common.html' %}

{% block soumya %}
{% load static %}
<html>
    <body>
 <table align='center' border='0'>
    <tr>
        <th colspan='2'>
   <center><h1>Institute Details</h1></center>
   <h2>
   Online learning can take all sorts of shapes and sizes. So, what to expect varies widely depending on the type of course or program you seek.

   If you’re looking to gain basic knowledge of a specific topic, a free online course may be the answer. These are more likely to be self-paced, which often means less direct guidance from an instructor. Offerings are available in virtually any subject area that comes to mind, including both soft and hard skills.

   You may consider a paid online program offering a credential if you’re looking to make a more dramatic career change or advance into a managerial role (or help members of your team move into new internal positions or gain new skill sets). This credential may be a certificate, professional certification, or a full online degree program, among others.
   </h2>
</th>
</tr>
   <tr>
    <th>
      <center><img src="{% static 'images/online2.png' %}" width='500' px height='400' px></center>
    </th>
    <th>
        <h2>6 Benefits of Learning English Online. Home.</h2>
        <h2>1.You can learn from the comfort of your sofa.</h2>
        <h2>2.You can use several resources at the same time.</h2>
        <h2>3.You can improve all four skills.</h2>
        <h2>4.You can take part in engaging, interactive lessons.</h2>
        <h2>5.You can have a sense of accomplishment.</h2>
         <h2>6.You can meet new people and connect with an online community.</h2>
    </th>
</tr>
</table>
</body>
</html>
{% endblock %}